body{
	background-color: #FFE; 
	padding: 10px;  
}

a{
	color: #900; 
}

img{
	min-height: 100px; 
	max-height: 200px; 
	border-style: solid;
	border-color: rgb(68,35,2); 
	border-radius: 40px; 
}
#nutrition{
	color: #887; 
}